.account-page {
	padding-top: 35px;

	.container {
		max-width: 1010px;
	}

	.video_list {
		.video_item {
			flex: 0 0 176px;
			max-width: 176px;
		}
	}

	.video_past_live {
		width: 100%;
		display: block;
	}
}

.top_account {
	display: block;
	margin-bottom: 35px;

	.user-avatar {
		width: 130px;

		.avatar {
			width: 100px;
			height: 100px;
			cursor: pointer;
			@include border-radius(50%);
			overflow: hidden;

			> span {
				color: $white;
				line-height: 1;
				width: 100%;
				padding: 5px 0px;
				@include transition(all 0.3s ease);
				background-color: rgba($gray-base, 0.5);
				text-align: center;
				position: absolute;
				left: 0px;
				bottom: -100%;
			}

			&:hover > span {
				bottom: 0px;
			}
		}
	}

	.farm-info {
		flex: 1;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.farm-name {
		margin-bottom: 15px;
	}

	.farm-type {
		margin-bottom: 10px;
	}

	.user-action {
		margin-left: 35px;

		.btn {
			font-weight: bold;
			min-width: 160px;
			padding-top: 12px;
			padding-bottom: 12px;
			@include border-radius(12px);

			> i {
				font-size: 18px;
			}
		}
	}
}

.profile-form-wrapper {
	.btn-save,
	.update-username {
		display: none;
	}

	.user-name {
		font-size: 16px;
		margin-bottom: 0px;
	}

	.btn-edit-user {
		font-size: 16px;
		line-height: 1;
		padding: 12px;
		margin-left: 10px;
	}

	.btn-save {
		font-size: 18px;
		margin-left: 10px;
		padding: 10px 15px;
		@include border-radius(4px);
	}

	.user-info.active {
		.user-name,
		.btn-edit-user {
			display: none;
		}
		.btn-save,
		.update-username {
			display: block;
		}
	}

	.ui-widget-content {
		padding: 0px;
		border: none;
		background-color: transparent;
		@include border-radius(0px);

		.ui-tabs-nav {
			padding: 0px;
			border: none;
			background-color: transparent;

			.ui-state-default {
				border: none;
				background: transparent;
			}

			.ui-state-active {
				color: $primary;
				background: $white;
			}

			.ui-state-active a, 
			.ui-state-active a:link, 
			.ui-state-active a:visited {
				color: $primary;
			}

			.ui-tabs-anchor {
				padding: 10px 20px;
				display: block;
			}
		}

		.tab-content {
			padding: 20px;
			background-color: $white;
		}
	}

	.review_image {
		margin-top: 20px;

		.img-thumb {
			position: relative;

			& + .img-thumb {
				margin-left: 15px;
			}

			.btn {
				border: none;
				width: 24px;
				height: 24px;
				padding: 0px;
				color: $white;
				font-size: 12px;
				text-align: center;
				line-height: 24px;
				background-color: rgba($black, 0.75);
				position: absolute;
				right: -12px;
				top: -12px;

				> * {
					line-height: 24px;
				}

				&:hover {
					background-color: $primary;
				}
			}
		}
	}
}

.main-column.login_wrappers {
	> .container > .row {
		@include flex-align-item('center');

		> .col {
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}

	.login-inner {
		max-width: 600px;
		margin: 0px auto;
		padding: 30px;
		border: 1px solid $border-color;
	}

	.block-title {
		margin-bottom: 35px;
	}

	.buttons-set {
		margin-bottom: 25px;
	}

	.btn {
		font-size: 16px;
		min-width: 260px;
		padding: 12px 20px;
	}

	.txt-register {
		margin-top: 15px;
		margin-bottom: 0px;
	}
}

.top_profile {
	.user_avatar {
		width: 210px;
		height: 210px;
		margin: 40px auto 15px;
		border: 2px solid $primary;
		background-color: $white;
		@include border-radius(50%);
		position: relative;

		.user_avatar_inner {
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			position: absolute;
			top: 4px;
			left: 4px;
		}
	}

	.user_name {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.createNewClub {
		max-width: 220px;
		margin: 0px auto 30px;
	}
}

.user_content {
	padding: 10px 20px;
}

.account_body {
	display: block;
	margin-bottom: 25px;

	.account_content_inner {
		position: relative;
	}

	.btn-setting {
		font-size: 12px;
		line-height: 24px;
		padding: 0px 10px;
		min-height: inherit;
		position: absolute;
		right: 10px;
		top: 20px;
	}

	.block_club_wrapper {
		padding: 10px 20px;

		.box_title {
			margin-bottom: 25px;
		}
	}

	.list_members .item {
		width: 33.33%;

		.member_avatar {
			width: 120px;
			height: 120px;
		}
	}
}

.account_setting_page {
	padding: 25px;

	.block_title {
		margin-bottom: 20px;
	}

	.form-group {
		padding: 20px 0px;
		border-top: 1px solid $border-color;
		margin-bottom: 0px;
		@include flex-align-item('center');

		&:nth-last-of-type(1) {
			border-bottom: 1px solid $border-color;
		}

		.control-label {
			font-size: 16px;
			margin-bottom: 0px;
		}

		.txt-note {
			color: $gray-500;
			font-size: 12px;
		}
	}

	.buttons-set {
		margin-top: 35px;
		margin-bottom: 10px;

		.btn {
			min-width: 220px;

			& + .btn {
				margin-left: 10px;
			}
		}
	}
}

.members_list {
	display: block;
	margin: 0px;

	li {
		padding: 10px 20px;
		border-bottom: 1px solid $border-color;

		.user_avatar {
			width: 50px;
			height: 50px;
			@include border-radius(50%);
			border: 2px solid $border-color;
			margin-right: 10px;
			background-color: $white;
			position: relative;

			&.primary {
				border-color: $primary;
			}

			.avatar {
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				border: none;
				position: absolute;
				top: 2px;
				left: 2px;
			}
		}

		.user_name {
			h5 {
				font-weight: normal;
				margin-bottom: 0px;
			}
		}

		.btn {
			font-size: 14px;
			padding: 8px 10px;
			background-color: $white;
		}
	}
}

@include bp('max-width', '1099px') {
	.profile-form-wrapper {
		.review_image.multiple-image {
			.txt-recommended {
				width: 100%;
				margin-left: 0px;

				h4 {
					margin-bottom: 0px;
				}
			}
		}

		.form-group {
			.control-label {
				text-align: left !important;
			}
		}
	}
}

@include bp('max-width', '1023px') {
	.top_account {
		.user-action .btn {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.shop-detail-page {
		margin-left: 0px;
		margin-right: 0px;

		.farm-type {
			.btn {
				line-height: 22px;
				padding-top: 0px;
				padding-bottom: 0px;
				margin-right: 0px;
				@include border-radius(4px);
			}
		}
	}
}

@include bp('max-width', '767px') {
	.main-column.login_wrappers {
		.block-title {
			margin-bottom: 15px;
		}

		.login-inner {
			padding: 20px 15px;

			.form-group {
				margin-bottom: 10px;
			}
		}
	}

	.shop-detail-page {
		.top_account {
			.user-avatar {
				width: auto;
				margin-right: 10px;

				.avatar {
					width: 50px;
					height: 50px;
				}
			}

			.farm-name {
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
	}

	.account-page {
		padding-top: 20px;

		.video_list .video_item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}

	.profile-form-wrapper {
		.top_account {
			.user-avatar {
				width: 70px;

				.avatar {
					width: 60px;
					height: 60px;
				}
			}
		}

		.user-info {
			.box-user {
				max-width: calc(100% - 60px);
			}
		}

		.user-name {
			font-size: 14px;
		}

		.review_image.multiple-image {
			.txt-recommended {
				h4 {
					font-size: 12px;
				}
			}
		}
	}
}

@include bp('min-width', '1024px') {
	.account_body .list_members .item {
		&:nth-child(3n+1) {
			clear: both;
		}
		
		&:nth-last-of-type(1),
		&:nth-last-of-type(2),
		&:nth-last-of-type(3) {
			margin-bottom: 0px;
		}
	}
}